body
{
	font-family: 'Open Sans', sans-serif;
}


#logo
{
	height: 3.5vw;
	width: 20vw;
}


.logo
{
	/*position: relative;
	top: 4vw;*/
	margin: 5.5vw 0vw 2vw 5.3vw;
}
.button_1
{
	position: absolute;
	right: 4.1vw;
	background-color: hsl(214, 64%, 98%);
	font-size: 18px;
	text-transform: capitalize;
	padding-top: 1vw;
    	padding-bottom: 1vw;
    	padding-left: 6vw;
    	padding-right: 6vw;
	width: 85px;
	border-radius: 4px;
	text-color: hsl(322, 100%, 66%)
}
